@model IEnumerable<Deneme_proje.Models.DenizlerEntities.KrediSozlesmesi>

@{
    ViewData["Title"] = "Fatura Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/content/assets/css/bahcepinar.css" rel="stylesheet" />


<div class="main-content mt-5">
    <div class="px-lg-5 px-3">
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header">

                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="row mb-lg-5 mb-1">
            <div class="col-lg-4">
                <form asp-action="KrediSozlesmeleri" method="get" class="mb-4 px-4 py-3">
                    <div class="row d-flex align-items-center">
                        <div class="form-group col-md-4">
                            <label for="baslamaTarihi">Başlama Tarihi:</label>
                            <input type="date" id="baslamaTarihi" name="baslamaTarihi" class="form-control"
                                   required value="@ViewBag.BaslamaTarihi" />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="bitisTarihi">Bitiş Tarihi:</label>
                            <input type="date" id="bitisTarihi" name="bitisTarihi" class="form-control"
                                   required value="@ViewBag.BitisTarihi" />
                        </div>
                        <div class="form-group col-md-2">
                            <label>Durum:</label>
                            <div>
                                <input type="radio" id="acik" name="durum" value="Açık" @(ViewBag.Durum == "Açık" ? "checked" : "") />
                                <label for="acik">Açık</label>
                            </div>
                            <div>
                                <input type="radio" id="kapali" name="durum" value="Kapalı" @(ViewBag.Durum == "Kapalı" ? "checked" : "") />
                                <label for="kapali">Kapalı</label>
                            </div>
                        </div>
                        <div class="form-group col-md-2 text-right">
                            <button type="submit" class="btn btn-primary mt-4">Ara</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header" style=" background: radial-gradient(circle, rgba(0, 118, 168, 1) 0%, rgba(22, 46, 84, 1) 63%); padding: 10px 20px;"
                         ">
                        <h5 class="card-header-text text-white">Kredi Sözleşmeleri</h5>
                    </div>

                    <div class="card-block accordion-block">

                        <div class="col-md-12">
                    @if (Model != null && Model.Any())
                    {
                                <div id="example_wrapper" class="dataTables_wrapper py-lg-3">
                                    <div class="dataTables_length" id="example_length"></div>
                                    <div class="dataTables_filter" id="example_filter"></div>
                                    <div id="example_wrapper" class="table-wrapper">
                                        <table id="example" class="display dataTable" style="width:100%">
                                            <thead>
                                                <tr class="tablo-icerik-yazi">
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Sözleşme Kodu<span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Açıklama</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Banka Kodu</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Banka Adı</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Kredi Tipi</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Döviz Cinsi</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Kapanış Tarihi</span>
                                                        </div>
                                                    </th>

                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Durum</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Kredi Tutarı</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Taksit Sayısı</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Taksit No</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Vade Tarihi</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Taksit Tutarı</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Taksit Anapara</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Taksit Fazi</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Taksit BSMV</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Taksit KKDF</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Kalan Anapara</span>
                                                        </div>
                                                    </th>

                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Ödeme Fiş Tarihi</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Ödenen Taksit Tutarı</span>
                                                        </div>
                                                    </th>
                                                    <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                                        <div class="th-content">
                                                            <span>Kalan Taksit Tutarı</span>
                                                        </div>
                                                    </th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                        @foreach (var item in Model)
                                        {
                                                    <tr>
                                                        <td>@item.SozlesmeKodu</td>
                                                        <td>@item.Aciklama</td>
                                                        <td>@item.BankaKodu</td>
                                                        <td>@item.BankaAdi</td>
                                                        <td>@item.KrediTipi</td>
                                                        <td>@item.DovizCinsi</td>
                                                        <td>@item.KapanisTarihi</td>
                                                        <td>@item.Durum</td>
                                                        <td class="meblag-cell">@item.KrediTutari</td>
                                                        <td>@item.TaksitSayisi</td>
                                                        <td>@item.TaksitNo</td>
                                                        <td>@item.VadeTarihi</td>
                                                        <td class="meblag-cell">@item.TaksitTutari</td>
                                                        <td class="meblag-cell">@item.TaksitAnapara</td>
                                                        <td class="meblag-cell">@item.TaksitFaiz</td>
                                                        <td class="meblag-cell">@item.TaksitBSMV</td>
                                                        <td class="meblag-cell">@item.TaksitKKDF</td>
                                                        <td class="meblag-cell">@item.KalanAnapara</td>
                                                        <td>@item.OdemeFisTarihi</td>
                                                        <td class="meblag-cell">@item.OdenenTaksitTutari</td>
                                                        <td class="meblag-cell">@item.KalanTaksitTutari</td>
                                                    </tr>
                                        }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="bottom">
                                        <div class="dataTables_info" id="example_info"></div>
                                        <div class="dataTables_paginate" id="example_paginate"></div>
                                    </div>
                                </div>

                    }

                    else
                    {
                                <div class="alert alert-warning">Herhangi bir veri bulunamadı.</div>
                    }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.js"></script>
<script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        let table = new DataTable('#example');
    });
</script>


<script>
    $('#example').dataTable({

        "dom": '<"row"<"col-sm-12"B>>' +
            '<"row"<"col-sm-6"l><"col-sm-6"f>>' +
            't' +
            '<"row"<"col-sm-6"i><"col-sm-6"p>>',
        "language": {
            "url": "/Content/DataTables/turkish.json"
        },
        "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'], // Butonlar
        "pageLength": 5000, // Varsayılan olarak 5000 gösterim
        "lengthMenu": [[10, 25, 50, 100, 5000], [10, 25, 50, 100, "5000"]] // Kullanıcıya seçim için seçenekler
    });

</script>



