@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Rapor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/content/assets/css/bahcepinar.css" rel="stylesheet" />
<style>
    .tablo {
        padding: 0 20px;
    }

    .dataTables_wrapper {
        position: relative;
        clear: none;
    }

    table.dataTable tbody td {
        font-size: 12px;
        word-wrap: break-word;
        white-space: normal;
    }
</style>

<div class="main-content mt-5">
    <div class="px-lg-5 px-3">
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header">
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">CRM</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row tablo">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header" style="background: radial-gradient(circle, rgba(0, 118, 168, 1) 0%, rgba(22, 46, 84, 1) 63%); padding: 10px 20px;">
                        <h5 class="card-header-text text-white">Stoklar</h5>
                    </div>

                    <div class="mt-2 mx-3 mb-2">
                        <button class="btn btn-primary my-2 mx-2" onclick="window.location.href='/crm/stokekle';">Yeni Stok</button>
                       @*  <button class="btn btn-outline-secondary">Pipline Görünümü</button> *@
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper tablo">
                        <div class="dataTables_length" id="example_length"></div>
                        <div class="dataTables_filter" id="example_filter"></div>
                        <div id="example_wrapper">
                            <table id="example" class="display dataTable" style="width:100%">
                                <thead>
                                    <tr class="tablo-icerik-yazi">
                                        <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                            <div class="th-content">
                                                <span>Kodu</span>
                                            </div>
                                        </th>
                                        <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                            <div class="th-content">
                                                <span>Adı</span>
                                            </div>
                                        </th>
                                        <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                            <div class="th-content">
                                                <span>Ana Grup</span>
                                            </div>
                                        </th>
                                        <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                            <div class="th-content">
                                                <span>Alt Grup 1</span>
                                            </div>
                                        </th>
                                        <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                            <div class="th-content">
                                                <span>Alt Grup 2</span>
                                            </div>
                                        </th>
                                        <th class="sorting text-left" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;">
                                            <div class="th-content">
                                                <span>Alt Grup 3</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var stok in Model)
                                    {
                                        <tr>
                                            <td>@stok.StokKodu</td>
                                            <td>@stok.StokAdi</td>
                                            <td>@stok.AnaGrupAdi</td>
                                            <td>@stok.AltGrup1Adi</td>
                                            <td>@stok.AltGrup2Adi</td>
                                            <td>@stok.AltGrup3Adi</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.js"></script>
<script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let table = new DataTable('#example');
    });
</script>

<script>
    $('#example').DataTable({
        "dom": '<"row"<"col-sm-12"B>>' +
            '<"row"<"col-sm-6"l><"col-sm-6"f>>' +
            't' +
            '<"row"<"col-sm-6"i><"col-sm-6"p>>',
        "language": {
            "url": "/Content/DataTables/turkish.json"
        },
        "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'], // Butonlar
        "columnDefs": [
            { "targets": "_all" } // Kolon genişliklerini sabitleme
        ]
    });
</script>